<div class="row wrap" style="margin-bottom:7px;">
    <div class="col-sm-9">
        <div class="pills w-100 flex-p">
            <ul class="nav nav-pills">
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/sare/sales/deals/grid']">
                        <mat-icon>grid_on</mat-icon> Grid View </a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/sare/sales/deals/map']">
                        <mat-icon>place</mat-icon> Map View </a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/sare/sales/deals/kanban']">
                        <mat-icon>swap_horiz</mat-icon> Kanban View </a>
                </li>
            </ul>
        </div>
    </div>

</div>