<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p">

        <div class="col-sm-12">
            <div class="col-sm-6">
                <mat-card fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
                    <div [chart]="piChart"></div>
                </mat-card>
            </div>
            <div class="col-sm-6">
                <mat-card fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
                    <div [chart]="chart"></div>
                </mat-card>
            </div>

        </div>


    </div>

</div>