<div>
    <div class="NewHeader">
        <h1 mat-dialog-title> Screen Layout</h1>
    </div>
    <div mat-dialog-content>
        <form class="form-horizontal">
            <div class="form-group">

                <div class="col-sm-12">
                    <p>Admin can setup and manage the builders from this screen. This screen consists of Add builder & filter buttons and Grid View which displays the complete data of builders with ability to edit and delete.
                        <br>
                        <br> <b>Add Builder - Modal Popup</b>
                        <br>
                        <br>Builder Name:* Text Box

                        <br> Project:* drop down
                        <br> Mobile Number:* Text box
                        <br> Email:* Text box
                        <br> Address:* Text box
                        <br> Status:* drop down
                        <br> Save and Cancel button
                        <br>
                        <br> <b>Filter Fields</b>
                        <br> Builder Name: Keyword Search

                        <br> Project: drop down
                        <br> Status: drop down
                        <br> Search and Clear buttons
                        <br>
                        <br> <b>Grid View - Column Fields</b>
                        <br>
                        <br> Builder Name, Project Assigned, Builder Contact Number, Builder Email, Address, Status (either Active or Inactive), Actions (Edit & Delete icons) </p>
                </div>
            </div>
        </form>
    </div>
    <mat-dialog-actions align="end">
        <!-- <button mat-raised-button class="btn-primary" (click)="saveremark()"><mat-icon>save</mat-icon><span *ngIf="!remark">Save</span><span *ngIf="remark">Update</span></button> -->
        <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Close</button>
    </mat-dialog-actions>