<div>
    <div class="NewHeader">
        <h1 mat-dialog-title><span *ngIf="!remark">Screen</span><span *ngIf="remark">Edit</span> Layout</h1>
    </div>
    <div mat-dialog-content>
        <form class="form-horizontal">
            <div class="form-group">

                <div class="col-sm-12">
                    <p>This screen provides the overview of all the payments that has been made by the customer which follows through Construction Linked Plan.
                        <br>
                        <!-- <br> <b>Add Broker/Agent - Modal Popup</b>
                        <br>
                        <br>Name:* Text Box
                        <br>Role:* Drop down
                        <br> Builder:* multi select drop down
                        <br> Project:* drop down
                        <br> Mobile Number:* Text box
                        <br> Email:* Text box
                        <br> Address:* Text box
                        <br> Status:* drop down
                        <br> Save and Cancel button
                        <br> -->
                        <!-- <br> <b>Filter Fields</b>
                        <br> Name: Keyword Search
                        <br> Role: drop down
                        <br> Builder: drop down
                        <br> Project: drop down
                        <br> Status: drop down
                        <br> Search and Clear buttons
                        <br> -->
                        <br> <b>Grid View - Column Fields</b>
                        <br>
                        <br> S.No, Builder Name, Project, Agent, Date of Payment, Mode of Payment, Cheque Number, Status, </p>
                </div>
            </div>
        </form>
    </div>
    <mat-dialog-actions align="end">
        <!-- <button mat-raised-button class="btn-primary" (click)="saveremark()"><mat-icon>save</mat-icon><span *ngIf="!remark">Save</span><span *ngIf="remark">Update</span></button> -->
        <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Close</button>
    </mat-dialog-actions>

</div>